{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
{% for article in articles_page.object_list %}        
<div class="article hoverStyle" itemscope itemtype="http://schema.org/BlogPosting" style="border: 3px solid black;">
	<a href="{{ SITEURL }}/{{ article.url }}" style="margin:0;">
		<div style="margin:1em;">
			<h2 itemprop="name headline" style="font-weight:bold;">{{ article.title }}</h2>
			<!-- <div class="summary">{{ article.summary }}</div> -->
			<hr style="margin:0.5em 0">
			<div style="display: flex;">
				<div>
					{% if article.category %}
					<!-- <span>カテゴリー:</span> -->
					<span class="tags" itemprop="articleSection">{{ article.category }}</span>
					{% else %}
					<span>なし</span>
					{% endif %}
				</div>
				<div style="margin-left: auto;">
					<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished" style="color:#808080;text-decoration: none;">
						{{ article.locale_date }}
					</time>
					<!-- <span>著者:</span>
					<span class="tags" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
						<span itemprop="name">{{article.author or "Wilson Freitas"}}</span>
					</span> -->
					<!-- <span>タグ:</span>
					{% if article.tags %} 
					{% for tag in article.tags %}
					<span class="tags" itemprop="keywords">{{ tag }}</span>
					{% endfor %}
					{% else %}
					<span>なし</span>
					{% endif %} -->
				</div>
			</div>
		</div>
	</a>
</div>
<p></p>
{% endfor %} {# For article #}
{% include 'pagination.html' %}
{% endif %} {# If articles #}
{% endblock content %}

